<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <script src="https://kit.fontawesome.com/836abe09ea.js" crossorigin="anonymous"></script>
    <title>Document</title>

</head>

<body>
    <%- include('header'); -%>
    <div class="page-header">
        <div class="profile-container">
            <div class="profile_basic">
                <div class="img_container">
                    <img src="https://media.istockphoto.com/photos/young-man-at-carpentry-cutting-wood-and-using-digital-tablet-picture-id1311311996?s=612x612" class="user-img" />
                </div>
                <div class="u-margin-bottom-medium profile-info">
                    <p class="heading-secondary--2">
                        <%= firstName %>
                            <%= lastName %>
                    </p>
                    <p class="heading-tertiary--2">
                        <%= workType %>
                    </p>
                    <div class="star_icon">
                        <i class="fa-solid fa-star star_c"></i>
                        <i class="fa-solid fa-star star_c"></i>
                        <i class="fa-solid fa-star star_c"></i>
                        <i class="fa-solid fa-star star_c"></i>
                        <i class="fa-solid fa-star-half-stroke star_c"></i>
                    </div>
                    <!-- <p class="email"><i>email@dmain.com</i></p> -->
                </div>
            </div>

            <div class="profile_more-info u-margin-top-big">
                <div class="col_left">
                    <p class="heading-tertiary">Work</p>
                    <p class="paragraph">
                        <%= workType %>
                    </p>
                </div>
                <div class="col_right">
                    <p class="heading-tertiary">Wage</p>
                    <p class="paragraph">₹
                        <%= wage %>
                    </p>
                </div>
            </div>

            <div class="profile_more-info u-margin-top-medium">
                <div class="col_left">
                    <p class="heading-tertiary">Work Experience</p>
                    <p class="paragraph">5yrs</p>
                </div>
                <div class="col_right">
                    <p class="heading-tertiary">Phone Number</p>
                    <a class="paragraph tel" href="tel:<%=contactNo%>">&#9742; <%= contactNo %></a>
                </div>
            </div>

            <div class="profile_more-info u-margin-top-medium">
                <div class="col_left">
                    <p class="heading-tertiary">PIN CODE</p>
                    <p class="paragraph">
                        <%= pinCode %>
                    </p>
                </div>
                <div class="col_right">
                    <div class="heading-tertiary">Aadhar</div>
                    <p class="paragraph">
                        <%= adharNo %>
                    </p>
                </div>
            </div>


            <!-- <div class="profile_btn u-margin-top-big">
            <div class="profile_btn_edit">
                <a href="#">
                    <i class="fa fa-pencil-square-o profile_btn_edit_icon"></i>
                    <span class="profile_btn_edit_text">Edit Info</span>
                </a>
            </div>
            <div class="profile_btn_logout">
                <a href="#">
                    <i class="fa fa-frown-o profile_btn_logout_icon"></i>
                    <span class="profile_btn_logout_text">Logout</span>
                </a>
            </div>
        </div> -->

            <!-- <p class="text-center">Created By <i>Syrian Arts</i></p> -->
        </div>

        <section class="review_section">
            <div id="scroll-container">
                <div class="heading-tertiary--2 review_heading">Reviews</div>
                <div id="scroll-text">
                    <div class="wraper_name_star">
                        <p class="heading-tertiary">Rohan fasal</p>
                        <div class="star_icon">
                            <i class="fa-solid fa-star star_c_review"></i>
                            <i class="fa-solid fa-star star_c_review"></i>
                            <i class="fa-solid fa-star star_c_review"></i>
                            <i class="fa-solid fa-star star_c_review"></i>
                            <i class="fa-solid fa-star-half-stroke star_c_review"></i>
                        </div>
                    </div>
                    <p class="paragraph">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illo voluptatem obcaecati.</p>
                </div>
                <div id="scroll-text">
                    <div class="wraper_name_star">
                        <p class="heading-tertiary">Rohan fasal</p>
                        <div class="star_icon">
                            <i class="fa-solid fa-star star_c_review"></i>
                            <i class="fa-solid fa-star star_c_review"></i>
                            <i class="fa-solid fa-star star_c_review"></i>
                            <i class="fa-solid fa-star star_c_review"></i>
                            <i class="fa-solid fa-star-half-stroke star_c_review"></i>
                        </div>
                    </div>
                    <p class="paragraph">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illo voluptatem obcaecati.</p>
                </div>
                <div id="scroll-text">
                    <div class="wraper_name_star">
                        <p class="heading-tertiary">Rohan fasal</p>
                        <div class="star_icon">
                            <i class="fa-solid fa-star star_c_review"></i>
                            <i class="fa-solid fa-star star_c_review"></i>
                            <i class="fa-solid fa-star star_c_review"></i>
                            <i class="fa-solid fa-star star_c_review"></i>
                            <i class="fa-solid fa-star-half-stroke star_c_review"></i>
                        </div>
                    </div>
                    <p class="paragraph">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illo voluptatem obcaecati.</p>
                </div>
                <div id="scroll-text">
                    <div class="wraper_name_star">
                        <p class="heading-tertiary">Rohan fasal</p>
                        <div class="star_icon">
                            <i class="fa-solid fa-star star_c_review"></i>
                            <i class="fa-solid fa-star star_c_review"></i>
                            <i class="fa-solid fa-star star_c_review"></i>
                            <i class="fa-solid fa-star star_c_review"></i>
                            <i class="fa-solid fa-star-half-stroke star_c_review"></i>
                        </div>
                    </div>
                    <p class="paragraph">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illo voluptatem obcaecati.</p>
                </div>
            </div>
        </section>
    </div>
    <%- include('footer'); -%>
</body>

</html>